<div class="text-center">
  <i class="<%=@person.picture%> fa-6x" style="color: #51cf66;"></i>
</div>
<h2 style="text-align: center"><%= @person.name %></h2>
<br>

<div class="bg-light position-relative">
  <div class = "m-5">
    <br>
      <h3 class = "center"><%=@person.summary%></h3>
  </div>
  <hr class="style-two">
  <br>
</div>

<div class="row-fluid">
  <div class="col-sm-7 left">
    <h2>Find out more:</h2>
    <h3><% @person.sources.each do |source| %></h3>
    <%= link_to source.name, source.url %>
    <br>
    <% end %>
    <br>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="<%= @person.name %>" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
  </div>
  <div class="col-sm-5 right">
    <br>
      <% @person.medias.each do |media| %><div>
        <%= media.embedded_html.html_safe %>
      <% end %>
  </div>
</div>
