<!DOCTYPE html>
<html>
  <head>
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("KVeEwH9o1L26T3JxusUwe8lGCqQbqqCP");
      analytics.page();
      }}();
    </script>
    <title>(un)forgotten international</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/671a6667b5.js" crossorigin="anonymous"></script>
    <%= yield :og_header %>
    <%= tag(:meta, property: "twitter:site", content: "@exceptiontrap") %>
  </head>

  <body>
  <topnav id="top-navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href = "/">
    <i class="fa fa-globe fa-3x" style="color: #51cf66;"></i></a>
     <a class="navbar-brand" href="/" style="font-size: 30px">(un)forgotten international</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <ul class="navbar-nav">
         <a class="nav-item nav-link active" href="/people">All People <span class="sr-only">(current)</span></a>
         <a class="nav-item nav-link active" href="/resources">All Resources</a>
         <a class="nav-item nav-link active" href="/about">About (un)forgotten</a>
       </ul>
     </div>
     <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search[content]">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/search">Search</button>
    <button type="button" class="btn btn-success"
    data-toggle="button" aria-pressed="false" autocomplete="off" onclick = "window.location.href = '/hero_of_the_day';"> Hero of the Day </button>
    <!-- <audio src="https://dcs.megaphone.fm/WWO6764191462.mp3?key=fd6f152e70b34de37dcf056423e17fc4" autoplay controls loop></audio> -->
    <!-- <embed src="https://dcs.megaphone.fm/WWO6764191462.mp3?key=fd6f152e70b34de37dcf056423e17fc4" autostart="true" loop="true" hidden="true"></embed> -->
   </nav>
  </topnav>

    <%= yield %>
  </body>
</html>
